.contain{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 50px;
}
.box{  
    margin: auto;
}
.heading{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.box img{
    height: 130px;
}